.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.qrVideo {
  object-fit: cover;
  border: 1px solid #ddd;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.scannedText {
    word-wrap: break-word;
  }
  