.modal {
    display: flex;
    flex-direction: column;
}

.modal__header {
  display: flex;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.modal__title {
    flex-grow: 1;
    color:white;
    font-size:14px;
    font-weight: 400;
}

.modal__content {
  padding: 5px;
  flex-grow: 1;
  min-height: 200px;
}