
[Unit]
Description= Asset App Server
After=network.target

[Service]
Type=simple
User=lanle
Group=lanle
Restart=on-failure
RestartSec=10
TimeoutSec=1200
WorkingDirectory=/home/lanle/asset-management/server/
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target